/*
 * This is an example styling of the JSON
 *
 * The classes are applied in a hireachy
 */

.jsedit.jsedit-object.jsedit-object-key,
.jsedit.jsedit-object.jsedit-object-value,
.jsedit.jsedit-array.jsedit-array-value {
    margin-left : 20px;
    float : left;
}
.jsedit.jsedit-object.jsedit-object-key {
    width : 30em;
    float : left;
    clear : left;
}
.jsedit.jsedit-object.jsedit-object-open,
.jsedit.jsedit-object.jsedit-object-close {
    float : left;
    clear : both;
}
