/*
 * This is an example styling of the JSON
 *
 * The classes are applied in a hireachy
 */

.jsedit.jsedit-top {
    border : 0px solid #FDF;
}

.jsedit.jsedit-object.jsedit-object-key:after {
    content : ':';
}
.jsedit.jsedit-object.jsedit-object-value:after {
    content : ',';
}
.jsedit.jsedit-object.jsedit-object-key,
.jsedit.jsedit-object.jsedit-object-value,
.jsedit.jsedit-array.jsedit-array-value {
    margin-left : 20px;
    float : left;
    clear : right;
    border : 0px solid #DDD;
    min-width : 5px;
    min-height : 5px;
}
.jsedit.jsedit-object.jsedit-object-value {
    margin-left : 5px;
}
.jsedit.jsedit-array.jsedit-array-value {
    float : none;
}
.jsedit.jsedit-object.jsedit-object-key {
    width : 10em;
    float : left;
    clear : left;
}
.jsedit.jsedit-array.jsedit-array-open,
.jsedit.jsedit-array.jsedit-array-close,
.jsedit.jsedit-object.jsedit-object-open,
.jsedit.jsedit-object.jsedit-object-close {
    float : none;
    clear : both;
    width : 100%;
}

.jsedit.jsedit-data-null {
    color : blue;
}
.jsedit.jsedit-data-bool-true {
    color : green;
}
.jsedit.jsedit-data-bool-false {
    color : red;
}
.jsedit.jsedit-data-nuber {
    color : grey;
}

.jsedit.jsedit-top.collapse {
    height : auto;
}
.jsedit.collapse .jsedit.jsedit-array,
.jsedit.collapse .jsedit.jsedit-object {
    display : none;
}
.jsedit.collapse .jsedit.jsedit-array.jsedit.jsedit-array-close,
.jsedit.collapse .jsedit.jsedit-array.jsedit.jsedit-array-open,
.jsedit.collapse .jsedit.jsedit-object.jsedit.jsedit-object-close,
.jsedit.collapse .jsedit.jsedit-object.jsedit.jsedit-object-open {
    display : inline;
}
.jsedit .collapsed {
    display : none;
}
.jsedit.collapse .collapsed {
    display : inline;
}
